node_modules
.next
.git
.gitignore
.gitattributes
README.md
Dockerfile
.dockerignore
.vscode
.idea
.env
.env.*
!.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.booklet-shots
